# flyctl launch added from MySQL/.build/checkouts/async-http-client/.gitignore
MySQL/.build/checkouts/async-http-client/**/.build
MySQL/.build/checkouts/async-http-client/**/Package.resolved
MySQL/.build/checkouts/async-http-client/**/*.xcodeproj
MySQL/.build/checkouts/async-http-client/**/DerivedData
MySQL/.build/checkouts/async-http-client/**/.DS_Store
MySQL/.build/checkouts/async-http-client/**/.swiftpm
MySQL/.build/checkouts/async-http-client/**/.SourceKitten

# flyctl launch added from MySQL/.build/checkouts/async-kit/.gitignore
MySQL/.build/checkouts/async-kit/**/.DS_Store
MySQL/.build/checkouts/async-kit/.build
MySQL/.build/checkouts/async-kit/Packages
MySQL/.build/checkouts/async-kit/*.xcodeproj
MySQL/.build/checkouts/async-kit/**/DerivedData
MySQL/.build/checkouts/async-kit/**/Package.resolved
MySQL/.build/checkouts/async-kit/**/.swiftpm


# flyctl launch added from MySQL/.build/checkouts/console-kit/.gitignore
MySQL/.build/checkouts/console-kit/**/.build
MySQL/.build/checkouts/console-kit/**/Packages
MySQL/.build/checkouts/console-kit/**/*.xcodeproj
MySQL/.build/checkouts/console-kit/**/Package.pins
MySQL/.build/checkouts/console-kit/**/Package.resolved
MySQL/.build/checkouts/console-kit/**/.DS_Store
MySQL/.build/checkouts/console-kit/**/DerivedData
MySQL/.build/checkouts/console-kit/**/.swiftpm
MySQL/.build/checkouts/console-kit/**/Tests/LinuxMain.swift
MySQL/.build/checkouts/console-kit/**/.vscode

# flyctl launch added from MySQL/.build/checkouts/fluent/.gitignore
MySQL/.build/checkouts/fluent/**/Packages
MySQL/.build/checkouts/fluent/**/.build
MySQL/.build/checkouts/fluent/**/.DS_Store
MySQL/.build/checkouts/fluent/**/*.xcodeproj
MySQL/.build/checkouts/fluent/**/Package.pins
MySQL/.build/checkouts/fluent/**/Package.resolved
MySQL/.build/checkouts/fluent/**/DerivedData
MySQL/.build/checkouts/fluent/**/.swiftpm


# flyctl launch added from MySQL/.build/checkouts/fluent-kit/.gitignore
MySQL/.build/checkouts/fluent-kit/**/Packages
MySQL/.build/checkouts/fluent-kit/**/.build
MySQL/.build/checkouts/fluent-kit/**/.DS_Store
MySQL/.build/checkouts/fluent-kit/**/*.xcodeproj
MySQL/.build/checkouts/fluent-kit/**/Package.pins
MySQL/.build/checkouts/fluent-kit/**/Package.resolved
MySQL/.build/checkouts/fluent-kit/**/DerivedData
MySQL/.build/checkouts/fluent-kit/**/.swiftpm
MySQL/.build/checkouts/fluent-kit/**/Tests/LinuxMain.swift
MySQL/.build/checkouts/fluent-kit/**/.vscode


# flyctl launch added from MySQL/.build/checkouts/fluent-mysql-driver/.gitignore
MySQL/.build/checkouts/fluent-mysql-driver/**/.build
MySQL/.build/checkouts/fluent-mysql-driver/**/Packages
MySQL/.build/checkouts/fluent-mysql-driver/**/*.xcodeproj
MySQL/.build/checkouts/fluent-mysql-driver/**/.DS_Store
MySQL/.build/checkouts/fluent-mysql-driver/**/.swift-version
MySQL/.build/checkouts/fluent-mysql-driver/**/Package.pins
MySQL/.build/checkouts/fluent-mysql-driver/**/Package.resolved
MySQL/.build/checkouts/fluent-mysql-driver/**/DerivedData
MySQL/.build/checkouts/fluent-mysql-driver/**/.swiftpm
MySQL/.build/checkouts/fluent-mysql-driver/**/Tests/LinuxMain.swift


# flyctl launch added from MySQL/.build/checkouts/jwt/.gitignore
MySQL/.build/checkouts/jwt/**/Packages
MySQL/.build/checkouts/jwt/**/.build
MySQL/.build/checkouts/jwt/**/.DS_Store
MySQL/.build/checkouts/jwt/**/*.xcodeproj
MySQL/.build/checkouts/jwt/**/Package.pins
MySQL/.build/checkouts/jwt/**/Package.resolved
MySQL/.build/checkouts/jwt/**/DerivedData
MySQL/.build/checkouts/jwt/**/.swiftpm
MySQL/.build/checkouts/jwt/**/Tests/LinuxMain.swift

# flyctl launch added from MySQL/.build/checkouts/jwt-kit/.gitignore
MySQL/.build/checkouts/jwt-kit/**/Packages
MySQL/.build/checkouts/jwt-kit/**/.build
MySQL/.build/checkouts/jwt-kit/**/.DS_Store
MySQL/.build/checkouts/jwt-kit/**/*.xcodeproj
MySQL/.build/checkouts/jwt-kit/**/Package.pins
MySQL/.build/checkouts/jwt-kit/**/Package.resolved
MySQL/.build/checkouts/jwt-kit/**/DerivedData
MySQL/.build/checkouts/jwt-kit/**/.swiftpm
MySQL/.build/checkouts/jwt-kit/**/Tests/LinuxMain.swift


# flyctl launch added from MySQL/.build/checkouts/multipart-kit/.gitignore
MySQL/.build/checkouts/multipart-kit/**/Packages
MySQL/.build/checkouts/multipart-kit/**/.build
MySQL/.build/checkouts/multipart-kit/**/.DS_Store
MySQL/.build/checkouts/multipart-kit/**/*.xcodeproj
MySQL/.build/checkouts/multipart-kit/**/Package.pins
MySQL/.build/checkouts/multipart-kit/**/Package.resolved
MySQL/.build/checkouts/multipart-kit/**/DerivedData
MySQL/.build/checkouts/multipart-kit/**/.swiftpm

# flyctl launch added from MySQL/.build/checkouts/mysql-kit/.gitignore
MySQL/.build/checkouts/mysql-kit/**/.build
MySQL/.build/checkouts/mysql-kit/**/Packages
MySQL/.build/checkouts/mysql-kit/**/*.xcodeproj
MySQL/.build/checkouts/mysql-kit/**/Package.pins
MySQL/.build/checkouts/mysql-kit/**/Package.resolved
MySQL/.build/checkouts/mysql-kit/**/.DS_Store
MySQL/.build/checkouts/mysql-kit/**/DerivedData
MySQL/.build/checkouts/mysql-kit/**/.swiftpm


# flyctl launch added from MySQL/.build/checkouts/mysql-nio/.gitignore
MySQL/.build/checkouts/mysql-nio/**/.DS_Store
MySQL/.build/checkouts/mysql-nio/.build
MySQL/.build/checkouts/mysql-nio/Packages
MySQL/.build/checkouts/mysql-nio/*.xcodeproj
MySQL/.build/checkouts/mysql-nio/**/Package.resolved
MySQL/.build/checkouts/mysql-nio/**/DerivedData
MySQL/.build/checkouts/mysql-nio/**/.swiftpm
MySQL/.build/checkouts/mysql-nio/**/Tests/LinuxMain.swift


# flyctl launch added from MySQL/.build/checkouts/routing-kit/.gitignore
MySQL/.build/checkouts/routing-kit/**/Packages
MySQL/.build/checkouts/routing-kit/**/.build
MySQL/.build/checkouts/routing-kit/**/.DS_Store
MySQL/.build/checkouts/routing-kit/**/*.xcodeproj
MySQL/.build/checkouts/routing-kit/**/Package.pins
MySQL/.build/checkouts/routing-kit/**/Package.resolved
MySQL/.build/checkouts/routing-kit/**/DerivedData
MySQL/.build/checkouts/routing-kit/**/.swift-version
MySQL/.build/checkouts/routing-kit/**/.swiftpm


# flyctl launch added from MySQL/.build/checkouts/sql-kit/.gitignore
MySQL/.build/checkouts/sql-kit/**/.DS_Store
MySQL/.build/checkouts/sql-kit/.build
MySQL/.build/checkouts/sql-kit/Packages
MySQL/.build/checkouts/sql-kit/*.xcodeproj
MySQL/.build/checkouts/sql-kit/**/Package.resolved
MySQL/.build/checkouts/sql-kit/**/DerivedData
MySQL/.build/checkouts/sql-kit/**/.swiftpm
MySQL/.build/checkouts/sql-kit/**/Tests/LinuxMain.swift

# flyctl launch added from MySQL/.build/checkouts/swift-algorithms/.gitignore
MySQL/.build/checkouts/swift-algorithms/**/.DS_Store
MySQL/.build/checkouts/swift-algorithms/.build
MySQL/.build/checkouts/swift-algorithms/Packages
MySQL/.build/checkouts/swift-algorithms/*.xcodeproj
MySQL/.build/checkouts/swift-algorithms/**/xcuserdata
MySQL/.build/checkouts/swift-algorithms/.swiftpm
MySQL/.build/checkouts/swift-algorithms/**/Package.resolved

# flyctl launch added from MySQL/.build/checkouts/swift-atomics/.gitignore
MySQL/.build/checkouts/swift-atomics/**/__pycache__
MySQL/.build/checkouts/swift-atomics/**/*.pyc
MySQL/.build/checkouts/swift-atomics/**/.DS_Store
MySQL/.build/checkouts/swift-atomics/**/.*.sw?
MySQL/.build/checkouts/swift-atomics/.build
MySQL/.build/checkouts/swift-atomics/.swiftpm
MySQL/.build/checkouts/swift-atomics/**/xcuserdata
MySQL/.build/checkouts/swift-atomics/*.xcodeproj
MySQL/.build/checkouts/swift-atomics/**/.docc-build

# flyctl launch added from MySQL/.build/checkouts/swift-backtrace/.gitignore
MySQL/.build/checkouts/swift-backtrace/**/.DS_Store
MySQL/.build/checkouts/swift-backtrace/.build
MySQL/.build/checkouts/swift-backtrace/Packages
MySQL/.build/checkouts/swift-backtrace/*.xcodeproj
MySQL/.build/checkouts/swift-backtrace/**/.swiftpm
MySQL/.build/checkouts/swift-backtrace/**/.*.sw[nop]

# flyctl launch added from MySQL/.build/checkouts/swift-collections/.gitignore
MySQL/.build/checkouts/swift-collections/**/.DS_Store
MySQL/.build/checkouts/swift-collections/.swiftpm
MySQL/.build/checkouts/swift-collections/.build
MySQL/.build/checkouts/swift-collections/Packages
MySQL/.build/checkouts/swift-collections/*.xcodeproj
MySQL/.build/checkouts/swift-collections/**/xcuserdata
MySQL/.build/checkouts/swift-collections/**/.*.sw?
MySQL/.build/checkouts/swift-collections/Benchmarks/.swiftpm
MySQL/.build/checkouts/swift-collections/Benchmarks/.build
MySQL/.build/checkouts/swift-collections/**/.docc-build

# flyctl launch added from MySQL/.build/checkouts/swift-crypto/.gitignore
MySQL/.build/checkouts/swift-crypto/**/.DS_Store
MySQL/.build/checkouts/swift-crypto/.build
MySQL/.build/checkouts/swift-crypto/out
MySQL/.build/checkouts/swift-crypto/Packages
MySQL/.build/checkouts/swift-crypto/*.xcodeproj
MySQL/.build/checkouts/swift-crypto/**/Package.pins
MySQL/.build/checkouts/swift-crypto/**/*.pem
MySQL/.build/checkouts/swift-crypto/docs/1.*
MySQL/.build/checkouts/swift-crypto/docs/2.*
MySQL/.build/checkouts/swift-crypto/**/Package.resolved
MySQL/.build/checkouts/swift-crypto/**/.podspecs
MySQL/.build/checkouts/swift-crypto/**/DerivedData
MySQL/.build/checkouts/swift-crypto/**/.swiftpm
MySQL/.build/checkouts/swift-crypto/**/**/gyb.pyc

MySQL/.build/checkouts/swift-crypto/**/.*.sw[nop]


# flyctl launch added from MySQL/.build/checkouts/swift-log/.gitignore
MySQL/.build/checkouts/swift-log/**/.DS_Store
MySQL/.build/checkouts/swift-log/**/Package.resolved
MySQL/.build/checkouts/swift-log/.build
MySQL/.build/checkouts/swift-log/Packages
MySQL/.build/checkouts/swift-log/*.xcodeproj
MySQL/.build/checkouts/swift-log/**/.xcode
MySQL/.build/checkouts/swift-log/**/DerivedData
MySQL/.build/checkouts/swift-log/**/.swiftpm

MySQL/.build/checkouts/swift-log/**/.SourceKitten
MySQL/.build/checkouts/swift-log/**/docs

MySQL/.build/checkouts/swift-log/**/.*.sw?

# flyctl launch added from MySQL/.build/checkouts/swift-metrics/.gitignore
MySQL/.build/checkouts/swift-metrics/**/.DS_Store
MySQL/.build/checkouts/swift-metrics/.build
MySQL/.build/checkouts/swift-metrics/Packages
MySQL/.build/checkouts/swift-metrics/*.xcodeproj
MySQL/.build/checkouts/swift-metrics/**/.xcode
MySQL/.build/checkouts/swift-metrics/**/.SourceKitten
MySQL/.build/checkouts/swift-metrics/**/*.orig
MySQL/.build/checkouts/swift-metrics/**/.swiftpm
MySQL/.build/checkouts/swift-metrics/**/Package.resolved

# flyctl launch added from MySQL/.build/checkouts/swift-nio/.gitignore
MySQL/.build/checkouts/swift-nio/**/.DS_Store
MySQL/.build/checkouts/swift-nio/.build
MySQL/.build/checkouts/swift-nio/Packages
MySQL/.build/checkouts/swift-nio/*.xcodeproj
MySQL/.build/checkouts/swift-nio/**/Package.pins
MySQL/.build/checkouts/swift-nio/**/*.pem
MySQL/.build/checkouts/swift-nio/docs/1.*
MySQL/.build/checkouts/swift-nio/docs/2.*
MySQL/.build/checkouts/swift-nio/**/Package.resolved
MySQL/.build/checkouts/swift-nio/**/.podspecs
MySQL/.build/checkouts/swift-nio/**/DerivedData
MySQL/.build/checkouts/swift-nio/**/.swiftpm
MySQL/.build/checkouts/swift-nio/**/.*.sw?

# flyctl launch added from MySQL/.build/checkouts/swift-nio-extras/.gitignore
MySQL/.build/checkouts/swift-nio-extras/**/.DS_Store
MySQL/.build/checkouts/swift-nio-extras/.build
MySQL/.build/checkouts/swift-nio-extras/Packages
MySQL/.build/checkouts/swift-nio-extras/*.xcodeproj
MySQL/.build/checkouts/swift-nio-extras/**/Package.pins
MySQL/.build/checkouts/swift-nio-extras/**/*.pem
MySQL/.build/checkouts/swift-nio-extras/docs
MySQL/.build/checkouts/swift-nio-extras/**/Package.resolved
MySQL/.build/checkouts/swift-nio-extras/**/.swiftpm

# flyctl launch added from MySQL/.build/checkouts/swift-nio-http2/.gitignore
MySQL/.build/checkouts/swift-nio-http2/**/.DS_Store
MySQL/.build/checkouts/swift-nio-http2/**/.build
MySQL/.build/checkouts/swift-nio-http2/Packages
MySQL/.build/checkouts/swift-nio-http2/*.xcodeproj
MySQL/.build/checkouts/swift-nio-http2/**/Package.pins
MySQL/.build/checkouts/swift-nio-http2/**/Package.resolved
MySQL/.build/checkouts/swift-nio-http2/**/*.pem
MySQL/.build/checkouts/swift-nio-http2/**/DerivedData
MySQL/.build/checkouts/swift-nio-http2/**/.swiftpm
MySQL/.build/checkouts/swift-nio-http2/**/Tests/hpack-test-case
MySQL/.build/checkouts/swift-nio-http2/**/cachegrind.out.*

# flyctl launch added from MySQL/.build/checkouts/swift-nio-ssl/.gitignore
MySQL/.build/checkouts/swift-nio-ssl/**/.DS_Store
MySQL/.build/checkouts/swift-nio-ssl/.build
MySQL/.build/checkouts/swift-nio-ssl/Packages
MySQL/.build/checkouts/swift-nio-ssl/*.xcodeproj
MySQL/.build/checkouts/swift-nio-ssl/**/Package.pins
MySQL/.build/checkouts/swift-nio-ssl/**/Package.resolved
MySQL/.build/checkouts/swift-nio-ssl/**/*.pem
MySQL/.build/checkouts/swift-nio-ssl/docs
MySQL/.build/checkouts/swift-nio-ssl/**/DerivedData
MySQL/.build/checkouts/swift-nio-ssl/.idea
MySQL/.build/checkouts/swift-nio-ssl/**/.swiftpm

# flyctl launch added from MySQL/.build/checkouts/swift-nio-transport-services/.gitignore
MySQL/.build/checkouts/swift-nio-transport-services/**/.DS_Store
MySQL/.build/checkouts/swift-nio-transport-services/.build
MySQL/.build/checkouts/swift-nio-transport-services/Packages
MySQL/.build/checkouts/swift-nio-transport-services/*.xcodeproj
MySQL/.build/checkouts/swift-nio-transport-services/**/Package.pins
MySQL/.build/checkouts/swift-nio-transport-services/**/Package.resolved
MySQL/.build/checkouts/swift-nio-transport-services/**/*.pem
MySQL/.build/checkouts/swift-nio-transport-services/**/*.xcconfig
MySQL/.build/checkouts/swift-nio-transport-services/**/.swiftpm

# flyctl launch added from MySQL/.build/checkouts/swift-numerics/.gitignore
MySQL/.build/checkouts/swift-numerics/**/.DS_Store
MySQL/.build/checkouts/swift-numerics/*XCTestManifests.swift
MySQL/.build/checkouts/swift-numerics/.build
MySQL/.build/checkouts/swift-numerics/Packages
MySQL/.build/checkouts/swift-numerics/*.xcodeproj
MySQL/.build/checkouts/swift-numerics/.swiftpm
MySQL/.build/checkouts/swift-numerics/**/.*.sw?

# flyctl launch added from MySQL/.build/checkouts/vapor/.gitignore
MySQL/.build/checkouts/vapor/**/Packages
MySQL/.build/checkouts/vapor/**/.build
MySQL/.build/checkouts/vapor/**/.DS_Store
MySQL/.build/checkouts/vapor/**/*.xcodeproj
MySQL/.build/checkouts/vapor/**/DerivedData
MySQL/.build/checkouts/vapor/**/Package.resolved
MySQL/.build/checkouts/vapor/**/.swiftpm
MySQL/.build/checkouts/vapor/**/Tests/LinuxMain.swift
MySQL/.build/checkouts/vapor/**/.vscode

# API Docs Generation
MySQL/.build/checkouts/vapor/**/generate-package-api-docs.swift
MySQL/.build/checkouts/vapor/**/public
MySQL/.build/checkouts/vapor/**/theme-settings.json

# flyctl launch added from MySQL/.build/checkouts/websocket-kit/.gitignore
MySQL/.build/checkouts/websocket-kit/**/.DS_Store
MySQL/.build/checkouts/websocket-kit/.build
MySQL/.build/checkouts/websocket-kit/Packages
MySQL/.build/checkouts/websocket-kit/*.xcodeproj
MySQL/.build/checkouts/websocket-kit/**/DerivedData
MySQL/.build/checkouts/websocket-kit/**/.swiftpm
MySQL/.build/checkouts/websocket-kit/**/Package.resolved
MySQL/.build/checkouts/websocket-kit/**/.devcontainer

# flyctl launch added from MySQL/.gitignore
MySQL/**/Packages
MySQL/**/.build
MySQL/**/xcuserdata
MySQL/**/*.xcodeproj
MySQL/**/DerivedData
MySQL/**/.DS_Store
MySQL/**/db.sqlite
MySQL/**/.swiftpm
MySQL/**/.env
fly.toml
